@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #03cfbe;
  text-decoration: none;
}

a:hover {
  color: rgb(234, 0, 255);
}

.footer-links:hover {
  color: rgb(234, 0, 255);
}

.logo {
  font-family: 'Londrina Solid', cursive;
  font-size: 1.6rem;
}
.logo:hover {
  color: rgb(0, 255, 85);
}


.card {
  border: none;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.lightbox {
  cursor: pointer;
  
}

@media (max-width: 768px) {
.product-price {
margin-top: 20px;
}
}