main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}



.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: rgb(83, 83, 83);
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 25%;
  /* background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%; */
}
.carousel a {
  margin: 0 auto;
}

.divider {
  width: 80px;
  height: 02px;
  
  background-color: black;
}
